#container{
    background-color: none;
    height: 300px;

}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: black;
    text-align: center;
}